.container-fluid{
    display: flex;
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  

  .left-column{
    padding: 50px;
    background-color: #4472C4;
    color: white;
  }

  .skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
  }

  .section{
    margin-bottom: 1.5rem;
  }
  
  .icon{
    margin-right: .5rem;
  }

  header, i{
    padding-right: 10px;
  }


  h1, h3{
    padding-bottom: 25px;
  }

  .text-darkblue{
    color: #002060;
  }

  .header{
    padding: 50px;
    max-height: 320px;
  background-color: #ececec;
    flex-direction: column;
    justify-content: center;
  }

  a{
    text-decoration: none;
  }

  .text-blue{
    color: #4472C4;
  }

  .text-uppercase{
    text-transform: uppercase; 
  }


  .right-column{
     width: 75%;
  }


  .content{
    padding: 50px;
  }

  .contact{
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  
  .icon{
    margin-right: .5rem;
  }

  #dev{
    font-weight: bolder;
  }

  