body {
  width: 100%;
  margin: auto;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
}

.left-column {
  padding: 5px;
  padding-top: 30px;
  background-color: #4472c4;
  color: white;
  width: 100%;
  order: 2;
  text-align: center;

  transition: background-color 0.2s ease-in-out;
}

.left-column h3 {
  color: black;
}

.left-column ul {
  padding-top: 30px;
}

.portait {
  width: 0px;
  height: 0px;
  display: none;
  /* margin: none; */
}

.language li {
  padding-top: 15px;
}

.skills,
.hobbies {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
  display: inline-block;
  text-align: left;
}

.hobbies i {
  padding-right: 10px;
  width: 1.85rem;
}

.hobbies li {
  padding-top: 10px;
}

.icon {
  margin-right: 0.5rem;
}

.section {
  margin-bottom: 1.5rem;
  text-align: center;
}

.content strong {
  padding-top: 20px;
}

.date {
  padding-right: 5px;
}

h1 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.texte {
  padding-top: 30px;
}

h2,
h3 {
  text-decoration: underline;
}

h3 {
  width: 100%;
  background-color: rgb(255, 214, 160);

  border-radius: 40px;
  padding: 4px 0;
  /* padding: auto; */
  text-align: center;
  margin: auto;
  border: solid 2px black;
}

.dev {
  font-size: 20px;
}

.text-darkblue {
  color: #002060;
}

header {
  padding: 15px;
  background-color: #ececec;

  transition: background-color 0.2s ease-in-out;
}

.mail {
  text-decoration: none !important;
  color: black !important;
}

.text-blue {
  color: #4472c4;
}

.text-uppercase {
  text-transform: uppercase;
}

.right-column {
  order: 1;
  width: 100%;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.content {
  padding-top: 30px;
  /* padding: none; */

  text-align: center;
}

.contact {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.contact i {
  padding-right: 10px;
}

.language,
.experience-list {
  list-style-type: circle;
  display: inline-block;
  text-align: left;
  max-width: 200px;
}

.dark-mode {
  display: flex;
  justify-content: center;
}

body.dark header {
  background-color: #292c35;
  border-bottom: solid 2px white;
  transition: background-color 0.2s ease-in-out;
}

body.dark header p {
  color: #fff;
}

body.dark header h1 {
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

body.dark a {
  color: #fff !important;
}

body.dark .left-column {
  background-color: #292c35;
  transition: background-color 0.2s ease-in-out;
}

body.dark .left-column i {
  color: #4472c4;
  transition: background-color 0.2s linear;
}

body.dark .right-column {
  background-color: #292c35;

  transition: background-color 0.2s ease-in-out;
}

body.dark .content {
  border-bottom: solid 2px white;
}

body.dark .content p {
  color: #fff;
}

body.dark .content ul {
  color: #fff;
}

body.dark h2 {
  color: white;
}

body.dark h3 {
  border: solid 2px #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;

  position: relative;
  height: 23px;
  width: 44px;
  transform: scale(1.5);
}

body.dark .label {
  border: 1px white solid;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  height: 19px;
  width: 19px;
  left: 2px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(20px);
}

.fa-moon,
.fa-sun {
  color: #f1c40f;
}

@media screen and (min-width: 576px) {
  .left-column {
    width: 40%;
    padding: 4px;
    order: 1;
  }

  .right-column {
    width: 60%;
    order: 2;
  }

  body.dark .right-column {
    border-left: solid 2px white;
  }

  body.dark .content {
    border-bottom: none;
  }

  .dark-mode {
    justify-content: flex-end;
  }

  .portait {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    /* object-fit: fill;
     object-position: center;     */
    border: solid 4px white;
  }

  .header {
    padding: 25px;
  }

  .portait {
    margin-bottom: 15px;
  }

  .content {
    padding: 40px;
  }

  .texte {
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .left-column {
    padding: 5px;
    width: 30%;
  }

  .right-column {
    width: 70%;
  }

  .portait {
    margin-bottom: 25px;
  }

  .content {
    padding: 50px;
  }

  .portait {
    margin-bottom: 25px;
  }
}
